<ons-page ng-controller="entryCtrl as ctrl">
        
    <ons-toolbar>
        <div class="center">チャレンジの意思確認</div>
        <div class="right"><ons-toolbar-button ng-click="ctrl.logout();"><ons-icon icon="ion-android-close" size="28px"></ons-icon></ons-toolbar-button></div>
    </ons-toolbar>
    <p>{{ctrl.title}}</p>
    <p>{{ctrl.description}}</p>
    <br />
    <ons-row>
        <ons-col style="margin:10px;">
            <ons-button modifier="large" ng-click="ctrl.entry();">
            やる
            </ons-button>
        </ons-col>
        <ons-col style="margin:10px;">
            <ons-button modifier="large"  ng-click="ctrl.refuse();">
            やらない
            </ons-button>
        </ons-col>
    </ons-row>
</ons-page>