<ons-page ng-controller="hagemasCtrl as ctrl">
        
    <ons-toolbar>
        <div class="center">応援</div>
    </ons-toolbar>

    <div align="center">
        <img id="hagemasu_img" src="img/hagemasu.png" style="width: 90%;"/>
    </div>
    <ons-row>
        <ons-col style="margin:10px;"> 
            <ons-input modifier="large" placeholder="応援メッセ―ジ" ng-model="ctrl.message" float style="width:100%;"></ons-input>
            <input type="file" id="hagemasu_file" name="hagemasu_file" accept="image/*" capture="camera" onchange="angular.element(this).scope().upload();"></ons-input>
        </ons-col>
    </ons-row>
    
        <ons-row>
        <ons-col style="margin:10px;">
            <ons-button modifier="large" ng-click="ctrl.cheer();">はげます</ons-button>
        </ons-col>
    </ons-row>
    <canvas id="canvas_hagemasu" style="display:none"></canvas>
</ons-page>