<ons-page ng-controller="loginCtrl as ctrl">
        
    <ons-toolbar>
        <div class="center">ログイン</div>
    </ons-toolbar>

    <!-- 西島のデバッグ用
    <ons-row>
        <ons-col style="margin:10px;"> 
            <ons-button modifier="large--cta" ng-click="myNavigator.pushPage('status.html')">test</ons-button>
        </ons-col>
    </ons-row>
     -->
    <br/>
    <ons-row style="width:100%;">
        <ons-col style="text-align:center;">
                <img src="img/Ymetter.png" style="width: 60%; text-align:center"/>
        </ons-col>
    </ons-row>
    <ons-row>
        <ons-col style="margin:10px;"> 
            <ons-input modifier="large" placeholder="User Name" ng-model="ctrl.username" float style="width:100%;"></ons-input>
        </ons-col>
    </ons-row>
    <ons-row>
        <ons-col style="margin:10px;"> 
            <ons-input modifier="large" placeholder="Password" type="password" ng-model="ctrl.password" float style="width:100%;"></ons-input>
        </ons-col>
    </ons-row>
    <ons-row>
        <ons-col style="margin:10px;"> 
            <ons-button modifier="large" ng-click="ctrl.login();">ログイン</ons-button>
        </ons-col>
    </ons-row>
    <ons-row>
        <ons-col style="margin:10px;">
            <input  type="checkbox" ng-model="ctrl.remember"
   ng-init="ctrl.remember=true"
   ng-true-value="true"
   ng-false-value="false">ログイン情報を保存する</input>
        </ons-col>
    </ons-row>
    <ons-row>
        <ons-col style="margin:10px;"> 
            <ons-button modifier="large--cta" ng-click="ctrl.regist();">ユーザ登録</ons-button>
        </ons-col>
    </ons-row>
</ons-page>