<ons-page ng-controller="registCtrl as ctrl">
        
    <ons-toolbar>
        <div class="center">ユーザ登録</div>
    </ons-toolbar>

    <p>ここにゆーざ登録画面　ニックネーム程度</p>
    <ons-row>
        <ons-col style="margin:10px;">
            <ons-input placeholder="Nick Name" ng-model="ctrl.nickname"></ons-input>
        </ons-col>
    </ons-row>
    <ons-row>
        <ons-col style="margin:10px;">
            <ons-button modifier="large"  ng-click="ctrl.regist();">進む！</ons-button>
        </ons-col>
    </ons-row>
</ons-page>