<ons-page ng-controller="registCtrl as ctrl">
        
    <ons-toolbar>
        <div class="center">ユーザを登録してね</div>
    </ons-toolbar>

    <p>ユーザを登録してね　</p>
    <ons-row>
        <ons-col style="margin:10px;">
            <ons-input placeholder="User Name" ng-model="ctrl.username"></ons-input>
        </ons-col>
    </ons-row>
    <ons-row>
        <ons-col style="margin:10px;">
            <ons-input placeholder="Password" type="password" ng-model="ctrl.password"></ons-input>
        </ons-col>
    </ons-row>
    <ons-row>
        <ons-col style="margin:10px;">
            <ons-button modifier="large"  ng-click="ctrl.regist();">登録！！！</ons-button>
        </ons-col>
    </ons-row>
</ons-page>