<ons-page ng-controller="successCtrl as ctrl">
        
    <ons-toolbar>
        <div class="center">Mission成功</div>
    </ons-toolbar>
    <div style="font-size:200%; color: #fafafa;
  letter-spacing: 0;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135">やったー！ </div>
    <img src="img/complete.png" alt="成功おめでとう！" style="width: 100%;"/>
    <p>おめでとう！成功の秘訣とか教えてね</p>
    <ons-row>
        <ons-col style="margin:10px;"> 
            <ons-input modifier="large" placeholder="成功者のお言葉" ng-model="ctrl.comment" float style="width:100%;"></ons-input>
        </ons-col>
    </ons-row>
    <ons-row>
        <ons-col style="margin:10px;"> 
            <ons-button modifier="large" ng-click="ctrl.registComment();">どやー</ons-button>
        </ons-col>
    </ons-row>

</ons-page>