<ons-page ng-controller="successCtrl as ctrl">
        
    <ons-toolbar>
        <div class="center">Mission成功</div>
    </ons-toolbar>

    <!-- 
    <img src="img/complete.png" alt="達成おめでとう！" style="width: 100%;"/>
     -->
    <ons-row style="width:100%; height:300px;">
        <ons-col style="background-image:url(img/back_success.png); text-align:center;
                background-position: center bottom; background-repeat: no-repeat;">
            <br/><br/><br/><br/><br/>
            <img src="img/avatorOnlySuccessLv{{ctrl.lv}}.png" alt="アバター" style="height:160px">
        </ons-col>
    </ons-row>
    

    <p>おめでとう！達成の秘訣とか教えてね</p>
    <ons-row>
        <ons-col style="margin:10px;"> 
            <ons-input modifier="large" placeholder="達成者のお言葉" ng-model="ctrl.comment" float style="width:100%;"></ons-input>
        </ons-col>
    </ons-row>
    <ons-row>
        <ons-col style="margin:10px;"> 
            <ons-button modifier="large" ng-click="ctrl.registComment();">どやー</ons-button>
        </ons-col>
    </ons-row>

</ons-page>